In [2]:
import os
import cv2
import glob
import h5py
import shutil
import imgaug as aug
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import imgaug.augmenters as iaa
from os import listdir, makedirs, getcwd, remove
from os.path import isfile, join, abspath, exists, isdir, expanduser
from pathlib import Path
from skimage.io import imread
from skimage.transform import resize
from keras.models import Sequential, Model, load_model
from keras.applications.vgg16 import VGG16, preprocess_input
from keras.layers import Conv2D, MaxPooling2D, Dense, Dropout, Input, Flatten,Activation
from keras.models import Sequential
from keras.optimizers import Adam, SGD, RMSprop
from keras.callbacks import ModelCheckpoint, Callback, EarlyStopping
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from mlxtend.plotting import plot_confusion_matrix
from keras import backend as K
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
from PIL import Image
import PIL
import scipy as sp 
import scipy.ndimage as spi
%matplotlib inline

color = sns.color_palette()
%matplotlib inline
%config InlineBackend.figure_format="svg"

import tensorflow as tf

Using TensorFlow backend.

In [3]:
# Set the seed for hash based operations in python
os.environ['PYTHONHASHSEED'] = '0'

seed=1234

# Set the numpy seed
np.random.seed(seed)

# Set the random seed in tensorflow at graph level
tf.set_random_seed(seed)

# Make the augmentation sequence deterministic
aug.seed(seed)

In [4]:
training_data = Path('training') 
validation_data = Path('validation') 
labels_path = Path('monkey_labels.txt')

In [5]:
monkey_labels = []

# Read the file
lines = labels_path.read_text().strip().splitlines()[1:]

In [6]:
lines

['n0   , alouatta_palliata\t , mantled_howler                , 131          , 26',
 'n1   , erythrocebus_patas\t , patas_monkey                  , 139          , 28',
 'n2   , cacajao_calvus\t     , bald_uakari                   , 137          , 27',
 'n3   , macaca_fuscata\t     , japanese_macaque              , 152          , 30',
 'n4   , cebuella_pygmea\t     , pygmy_marmoset                , 131          , 26',
 'n5   , cebus_capucinus\t     , white_headed_capuchin         , 141          , 28',
 'n6   , mico_argentatus\t     , silvery_marmoset              , 132          , 26',
 'n7   , saimiri_sciureus\t     , common_squirrel_monkey        , 142          , 28',
 'n8   , aotus_nigriceps\t     , black_headed_night_monkey     , 133          , 27',
 'n9   , trachypithecus_johnii , nilgiri_langur                , 132          , 26']

In [7]:
for line in lines:
    line = line.split(',')
    line = [x.strip(' \n\t\r') for x in line]
    line[3], line[4] = int(line[3]), int(line[4])
    line = tuple(line)
    monkey_labels.append(line)

In [8]:
monkey_labels = pd.DataFrame(monkey_labels, columns=['Label', 'Latin Name', 'Common Name','Train Images', 'Validation Images'], index=None)

In [9]:
monkey_labels

,Label,Latin Name,Common Name,Train Images,Validation Images
0,n0,alouatta_palliata,mantled_howler,131,26
1,n1,erythrocebus_patas,patas_monkey,139,28
2,n2,cacajao_calvus,bald_uakari,137,27
3,n3,macaca_fuscata,japanese_macaque,152,30
4,n4,cebuella_pygmea,pygmy_marmoset,131,26
5,n5,cebus_capucinus,white_headed_capuchin,141,28
6,n6,mico_argentatus,silvery_marmoset,132,26
7,n7,saimiri_sciureus,common_squirrel_monkey,142,28
8,n8,aotus_nigriceps,black_headed_night_monkey,133,27
9,n9,trachypithecus_johnii,nilgiri_langur,132,26

In [10]:
labels=pd.DataFrame()
labels["id"] = monkey_labels["Label"].str.strip()
labels["name"] = monkey_labels["Common Name"].str.strip()
labels

   id                       name
0  n0             mantled_howler
1  n1               patas_monkey
2  n2                bald_uakari
3  n3           japanese_macaque
4  n4             pygmy_marmoset
5  n5      white_headed_capuchin
6  n6           silvery_marmoset
7  n7     common_squirrel_monkey
8  n8  black_headed_night_monkey
9  n9             nilgiri_langur

In [11]:
# Create a dictionary to map the labels to integers
m_id= labels["id"]
m_id

0    n0
1    n1
2    n2
3    n3
4    n4
5    n5
6    n6
7    n7
8    n8
9    n9
Name: id, dtype: object

In [12]:
entries = os.listdir(training_data)
for entry in entries:
    for f in glob.glob(os.path.join(os.path.join(training_data,entry),"*.jpg")):
        W = 250.
        oriimg = cv2.imread(f,cv2.IMREAD_COLOR)
        depth = oriimg.shape
        imgScale = W/250
        newX,newY = 250*imgScale, 250*imgScale
        newimg = cv2.resize(oriimg,(int(newX),int(newY)))
        cv2.imwrite(f,newimg)        

entries2 = os.listdir(validation_data)

for entry in entries2:
    for f in glob.glob(os.path.join(os.path.join(validation_data,entry),"*.jpg")):
        W = 250.
        oriimg = cv2.imread(f,cv2.IMREAD_COLOR)
        depth = oriimg.shape
        imgScale = W/250
        newX,newY = 250*imgScale, 250*imgScale
        newimg = cv2.resize(oriimg,(int(newX),int(newY)))
        cv2.imwrite(f,newimg)

In [13]:
# This function prepares a random batch from the dataset
def load_batch(dataset_df, batch_size = 25):
    batch_df = dataset_df.loc[np.random.permutation(np.arange(0,
                                                              len(dataset_df)))[:batch_size],:]
    return batch_df

In [16]:
image_width=250
image_height=250
batch_size= 16

In [17]:
train_datagen = ImageDataGenerator(rescale=1./255,
                                   rotation_range=40,
                                   width_shift_range=0.2,
                                   height_shift_range=0.2,
                                   shear_range=0.2,
                                   zoom_range=0.2,
                                   horizontal_flip=True,
                                   fill_mode='nearest')

In [18]:
validation_datagen = ImageDataGenerator(rescale=1./255)

In [19]:
train_generator = train_datagen.flow_from_directory(training_data, 
                                                    target_size=(image_width, image_height), 
                                                    batch_size = batch_size, 
                                                    shuffle=True, # By shuffling the images we add some randomness and prevent overfitting
                                                    class_mode="categorical")

Found 1096 images belonging to 10 classes.

In [20]:
validation_generator = validation_datagen.flow_from_directory(validation_data, 
                                                    target_size=(image_width, image_height), 
                                                    batch_size = batch_size, 
                                                    shuffle=True,
                                                    class_mode="categorical")

Found 272 images belonging to 10 classes.

In [21]:
training_samples = 1097
validation_samples = 272
total_steps = training_samples // batch_size

In [22]:
model = VGG16(weights='imagenet', include_top=False, input_shape=(image_width, image_height, 3), pooling="max")

WARNING:tensorflow:From /home/nikhil/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [24]:
for layer in model.layers[:-5]:
        layer.trainable = False

In [25]:
for layer in model.layers:
    print(layer, layer.trainable)

<keras.engine.input_layer.InputLayer object at 0x7ff3d325e1d0> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d2ce5e80> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d28727f0> False
<keras.layers.pooling.MaxPooling2D object at 0x7ff3d2967438> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d338bef0> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d2e466d8> False
<keras.layers.pooling.MaxPooling2D object at 0x7ff3d2807b70> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d28168d0> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d33b82b0> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d289fe48> False
<keras.layers.pooling.MaxPooling2D object at 0x7ff3d28816d8> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d28819b0> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d26b54a8> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d26cdac8> False
<keras.layers.pooling.MaxPooling2D object at 0x7ff3d2679240> False
<keras.layers.convolutional.Conv2D object at 0x7ff3d2667e48> True
<keras.layers.convolutional.Conv2D object at 0x7ff3d2693d68> True
<keras.layers.convolutional.Conv2D object at 0x7ff3d263d5c0> True
<keras.layers.pooling.MaxPooling2D object at 0x7ff3d2659d30> True
<keras.layers.pooling.GlobalMaxPooling2D object at 0x7ff3d26599e8> True

In [29]:
transfer_model = Sequential()
for layer in model.layers:
    transfer_model.add(layer)
transfer_model.add(Dense(512, activation="relu"))
transfer_model.add(Dropout(0.5))
transfer_model.add(Dense(10, activation="softmax"))

WARNING:tensorflow:From /home/nikhil/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [30]:
transfer_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
block1_conv1 (Conv2D)        (None, 250, 250, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 250, 250, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 125, 125, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 125, 125, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 125, 125, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 62, 62, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 62, 62, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 62, 62, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 62, 62, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 31, 31, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 31, 31, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 31, 31, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 31, 31, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 15, 15, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 15, 15, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 15, 15, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 15, 15, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
_________________________________________________________________
global_max_pooling2d_1 (Glob (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                5130
=================================================================
Total params: 14,982,474
Trainable params: 7,347,210
Non-trainable params: 7,635,264
_________________________________________________________________

In [31]:
from keras import optimizers
adam = optimizers.Adam(lr=0.0001, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.00001)

transfer_model.compile(loss="categorical_crossentropy",
                      optimizer=adam,
                      metrics=["accuracy"])

In [32]:
model_history = transfer_model.fit_generator(train_generator, steps_per_epoch=training_samples // batch_size,
                                            epochs=25,
                                            validation_data=validation_generator,
                                            validation_steps=validation_samples // batch_size)

WARNING:tensorflow:From /home/nikhil/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From /home/nikhil/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:102: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
Epoch 1/25
68/68 [==============================] - 880s 13s/step - loss: 2.0709 - acc: 0.2730 - val_loss: 1.2820 - val_acc: 0.6066
Epoch 2/25
68/68 [==============================] - 765s 11s/step - loss: 1.2319 - acc: 0.5698 - val_loss: 0.7529 - val_acc: 0.7831
Epoch 3/25
68/68 [==============================] - 739s 11s/step - loss: 0.7813 - acc: 0.7418 - val_loss: 0.5584 - val_acc: 0.8051
Epoch 4/25
68/68 [==============================] - 721s 11s/step - loss: 0.5360 - acc: 0.8226 - val_loss: 0.3727 - val_acc: 0.9007
Epoch 5/25
68/68 [==============================] - 715s 11s/step - loss: 0.4346 - acc: 0.8649 - val_loss: 0.3069 - val_acc: 0.9007
Epoch 6/25
68/68 [==============================] - 726s 11s/step - loss: 0.3367 - acc: 0.8787 - val_loss: 0.2672 - val_acc: 0.9301
Epoch 7/25
68/68 [==============================] - 724s 11s/step - loss: 0.3172 - acc: 0.8915 - val_loss: 0.2778 - val_acc: 0.9154
Epoch 8/25
68/68 [==============================] - 720s 11s/step - loss: 0.2811 - acc: 0.9044 - val_loss: 0.3401 - val_acc: 0.8787
Epoch 9/25
68/68 [==============================] - 724s 11s/step - loss: 0.2268 - acc: 0.9246 - val_loss: 0.2958 - val_acc: 0.9228
Epoch 10/25
68/68 [==============================] - 718s 11s/step - loss: 0.2111 - acc: 0.9311 - val_loss: 0.2331 - val_acc: 0.9412
Epoch 11/25
68/68 [==============================] - 729s 11s/step - loss: 0.1367 - acc: 0.9550 - val_loss: 0.2318 - val_acc: 0.9485
Epoch 12/25
68/68 [==============================] - 732s 11s/step - loss: 0.1902 - acc: 0.9366 - val_loss: 0.3180 - val_acc: 0.9228
Epoch 13/25
68/68 [==============================] - 726s 11s/step - loss: 0.1667 - acc: 0.9458 - val_loss: 0.2283 - val_acc: 0.9301
Epoch 14/25
68/68 [==============================] - 725s 11s/step - loss: 0.0911 - acc: 0.9706 - val_loss: 0.2609 - val_acc: 0.9265
Epoch 15/25
68/68 [==============================] - 713s 10s/step - loss: 0.0846 - acc: 0.9697 - val_loss: 0.2059 - val_acc: 0.9522
Epoch 16/25
68/68 [==============================] - 778s 11s/step - loss: 0.1178 - acc: 0.9577 - val_loss: 0.2338 - val_acc: 0.9485
Epoch 17/25
68/68 [==============================] - 778s 11s/step - loss: 0.0698 - acc: 0.9798 - val_loss: 0.2107 - val_acc: 0.9449
Epoch 18/25
68/68 [==============================] - 696s 10s/step - loss: 0.0897 - acc: 0.9678 - val_loss: 0.3339 - val_acc: 0.8934
Epoch 19/25
68/68 [==============================] - 767s 11s/step - loss: 0.1032 - acc: 0.9660 - val_loss: 0.2966 - val_acc: 0.9191
Epoch 20/25
68/68 [==============================] - 735s 11s/step - loss: 0.1143 - acc: 0.9660 - val_loss: 0.2225 - val_acc: 0.9485
Epoch 21/25
68/68 [==============================] - 730s 11s/step - loss: 0.0873 - acc: 0.9743 - val_loss: 0.1600 - val_acc: 0.9559
Epoch 22/25
68/68 [==============================] - 751s 11s/step - loss: 0.0857 - acc: 0.9697 - val_loss: 0.1949 - val_acc: 0.9522
Epoch 23/25
68/68 [==============================] - 746s 11s/step - loss: 0.0606 - acc: 0.9770 - val_loss: 0.2154 - val_acc: 0.9485
Epoch 24/25
68/68 [==============================] - 716s 11s/step - loss: 0.0920 - acc: 0.9752 - val_loss: 0.3095 - val_acc: 0.9154
Epoch 25/25
68/68 [==============================] - 725s 11s/step - loss: 0.0692 - acc: 0.9779 - val_loss: 0.2359 - val_acc: 0.9338